# This docker-compose file will use the compose/build from ground-up, not using Dockerfile
# there' no "build: ." directive
version: "2"
services:
  app:
    image: node:10
    working_dir: /app
    environment:
      - NODE_ENV=production
      - PORT=8080
    volumes:
      - .:/app
    ports:
      - 8080:8080
    
    # if the mounted the current folder has 'node_modules' inside
    command: "npm start"

    # if we mount just the source and want to 'npm install' in the container itself
    # command: bash -c "npm install && npm start"
    